---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro + Shoelace">
	<main>
		<form class="sh-form">
			<div class="sh-form-field">
				<sl-input
					required
					name="nombre"
					label="Nombre"
					autocomplete="off"
					help-text="Ingresá tu nombre"></sl-input>
			</div>
			<div class="sh-form-field">
				<sl-input
					required
					name="apellido"
					label="Apellido"
					autocomplete="off"
					help-text="Ingresá tu apellido"></sl-input>
			</div>
			<div class="sh-form-field">
				<sl-select
					required
					name="mascota"
					label="Mascota"
					help-text="Seleccioná tu mascota"
				>
					<sl-option value="perro">Perro</sl-option>
					<sl-option value="gato">Gato</sl-option>
					<sl-option value="otra">Otra</sl-option>
				</sl-select>
			</div>

			<div class="form-actions">
				<sl-button type="submit" variant="success">
					<sl-icon name="save" slot="prefix"></sl-icon>
					 PROCESAR
				</sl-button>
			</div>
		</form>
	</main>
</Layout>

<script>
	import { handleSlInvalid, handleSubmit } from "../utils";

	const form = document.querySelector(".sh-form");

	if (form) {
		form.addEventListener("sl-invalid", handleSlInvalid);
		form.addEventListener("submit", handleSubmit);
	}
</script>

<style>
	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: var(--sl-spacing-large);
		width: -webkit-fill-available;
		padding: var(--sl-spacing-x-large);
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}

	@media only screen and (min-width: 700px) {
		main {
			padding: var(--sl-spacing-x-large) 6rem;
		}
	}

	@media only screen and (min-width: 850px) {
		main {
			padding: var(--sl-spacing-x-large) 20%;
		}
	}

	@media only screen and (min-width: 1000px) {
		main {
			padding: var(--sl-spacing-x-large) 30%;
		}
	}
</style>
