<div class="theme-switcher-container">
  <sl-button id="theme-switcher" variant="default" size="large">
    <sl-icon name="sun" label="Cambiar tema" class="theme-switcher__icon"
    ></sl-icon>
  </sl-button>
</div>

<style>
  .theme-switcher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
  }
</style>
